{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'resto/styles.css' %}">

</head>
<body>

    
    <a href="{% url 'index' %}"><img id="small_logo" src="{% static 'resto/images/small_logo.png' %}"></a>

<div class="cart">
    <p class="sup"><a class="sup" href="{% url 'delete-cart' %}"> Supprimer le panier</a></p>

    {% for order in orders %}
    <h2 class="name">{{order.product.name}}</h2>
    <img class="image" src="{{ order.product.thumbnail.url }}" alt="{{order.product.name}}" style="max-width: 120px;">
    <p class="quantity">{{ order.quantity }} dans le panier</p>
    <p class="price">{{ order.product.price }}€ le produit</p>
    {% endfor %}
</div>

    
    
</body>
</html>